$overlay-background: hsla(0, 0%, 0%, 25%);
$background: hsl(0, 0%, 100%);
$light-text: hsl(220, 14%, 75%);
$small-text: hsl(219, 9%, 45%);
$big-text: hsl(220, 13%, 13%);
$color-primary-light: hsl(25, 100%, 94%);
$color-primary: hsl(26, 100%, 55%);
