$lightbox-background: hsla(0, 0%, 0%, 25%);
$main-background: hsl(0, 0%, 100%);
$very-light-text: hsl(220, 14%, 75%);
$small-text-color: hsl(219, 9%, 45%);
$big-text-color: hsl(220, 13%, 13%);
$main-color-lightened: hsl(25, 100%, 94%);
$main-color: hsl(26, 100%, 55%);
